**/dist/*
**/dist-*/*
**/node_modules/*
**/.cache-loader/*
**/coverage/*
**/CHANGELOG.md
# should not format templates
**/*.ejs
# this folder was genrated by Docusaurus
packages/goji.js.org/website/*
