
movable-area {
	background: blue;
  width: 567rpx;
  height: 250rpx;
  position: relative;
  /* left: -192rpx; */
  transition: height 0.5s ease;
  box-sizing: border-box;
  overflow: hidden;
}


movable-view {
	background: red;
  display: flex;
  flex-direction: row;
  width: 471rpx;
  height: 100%;
}
