.selected {
  border-color: rgba(175, 47, 47, 0.2) !important;
}

.filterLink {
  color: inherit;
  margin: 3px;
  padding: 0 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
