.newTodo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  line-height: 1.4em;
  height: 100rpx;
  color: inherit;
  padding: 35rpx 35rpx 35rpx 90rpx;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.003);
}

.newTodoInput {
  font-size: 26rpx;
}
