# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}

    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix:
        node-version:
          - 16
          - 14
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Run `lint`
        run: yarn lint

      - name: Run `test`
        run: yarn test

      - name: Run `build`
        run: yarn build
